
<!-- Toolbar -->
<!-- <mat-toolbar color="primary" class="app-header">
  <div><a href="#" target="_blank" class="positronx">ClobMind</a></div>
  <span class="nav-tool-items" *ngIf="true">
    <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
    <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
  </span>
  <span class="nav-tool-items" *ngIf="!true">
    <a mat-button mat-raised-button routerLink="login" routerLinkActive="active">Log Out</a>
  </span>
</mat-toolbar> -->
<router-outlet></router-outlet>