<mat-toolbar color="primary" class="app-header">
    <div><a href="#" target="_blank" class="positronx">ClobMind</a></div>
    <span class="nav-tool-items">
        <a mat-button>Welcome {{username}}</a>
        <a mat-button mat-raised-button [routerLink]="[ '/login' ]" routerLinkActive="active">
            Log out
        </a>
        
        <!-- <a mat-button mat-raised-button [routerLink]="[ '/register' ]" routerLinkActive="active">Register</a> -->
    </span>
</mat-toolbar>
<br>
<br>
<br>
<mat-card>
    <!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
      {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
    </button> -->
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Select Language</ng-template>
          <mat-form-field>
            <mat-label>Select Language</mat-label>
            <mat-select [(ngModel)]="quizName" (selectionChange)="loadQuiz(quizName)" formControlName="firstCtrl" required>
              <mat-option *ngFor="let quiz of quizes" [value]="quiz.id">
                {{quiz.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <p> Selected Language: {{quiz.name}} </p>
          <div>
            <button mat-raised-button color="primary" (click)="startquiz()" matStepperNext>Start Quiz</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Quiz</ng-template>
          <!-- <div class="basic-container">
              <mat-progress-bar mode="determinate" [value]="progersbarvalue"></mat-progress-bar>
          </div> -->
          <!-- <mat-form-field>
            <input matInput placeholder="Address" formControlName="secondCtrl" required>
          </mat-form-field> -->
          <div *ngIf="mode=='quiz' && quiz">
            <div *ngFor="let question of filteredQuestions;">
              <mat-toolbar color="primary">{{quiz.name}}</mat-toolbar>
              <div *ngIf="config.duration" class="float-right">Time: {{ellapsedTime}} / {{duration}}</div>
              <div class="badge badge-info">Question {{pager.index + 1}} of {{pager.count}}.</div>
              <h3>{{pager.index + 1}}.
                <span [innerHTML]="question.name"></span>
                <!-- <label id="questionnameid">{{question.name}}</label> -->
              </h3>
              <div class="row text-left options">
                <div class="col-6" *ngFor="let option of question.options">
                  <mat-radio-group  aria-labelledby="questionnameid"
                                    [(ngModel)]="option_name"
                                    formControlName="secondCtrl"
                                    class="radio-group">
                    <label [attr.for]="option.id">
                      <mat-radio-button class="radio-button" 
                                        [value]="option.name" 
                                        (change)="onSelect(question, option);"
                                        required>{{option.name}}
                        <!-- <input id="{{option.id}}" type="radio" [(ngModel)]="option.selected" (change)="onSelect(question, option);" /> {{option.name}} -->
                      </mat-radio-button>
                    </label>
                  </mat-radio-group>
                </div>
              </div>
            </div>
          </div>
          <div class="button-row" fxLayout="row" fxLayoutAlign="center center">
            <button mat-raised-button color="primary" *ngIf="config.allowBack" (click)="goTo(0);">First</button>
            <button mat-raised-button color="primary" *ngIf="config.allowBack" (click)="goTo(pager.index - 1);">Prev</button>
            <button mat-raised-button color="primary" (click)="goTo(pager.index + 1);">Next</button>
            <button mat-raised-button color="primary" *ngIf="config.allowBack" (click)="goTo(pager.count - 1);">Last</button>
            <!--<pagination *ngIf="config.showPager" direction-links="false" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>-->
          </div>
          <hr>
          <!-- <div *ngIf="mode!='result'">
            <button class="btn btn-warning" (click)="mode = 'quiz'">Quiz</button>
            <button class="btn btn-info" (click)="mode = 'review'">Review</button>
            <button class="btn btn-primary" (click)="onSubmit();">Submit Quiz</button>
          </div> -->
          <div>
            <!-- <button mat-button matStepperPrevious>Back</button> -->
            <button (click)="onSubmit();" class="float-right" mat-raised-button color="primary" matStepperNext>Submit Quiz</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        You are now done with exam.
        <div *ngIf="mode=='result'">
          <h2>Quiz Result</h2>
          <div *ngFor="let question of quiz.questions; let index = index">
            <div class="result-question">
              <h5>{{index + 1}}. {{question.name}}</h5>
              <div class="row">
                <div class="col-6" *ngFor="let Option of question.options">
                  <input  id="{{Option.id}}" 
                          type="checkbox" 
                          disabled="disabled" 
                          [(ngModel)]="selected" /> 
                          {{Option.name}}
                </div>
              </div>
              <!-- <div class="p-1 m-2 alert {{ isCorrect(question) == 'correct'? 'alert-success': 'alert-danger'}}">
                Your answer is {{isCorrect(question)}}.
              </div> -->
            </div>
          </div>
          </div>
        <!-- <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div> -->
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card>

  <!-- <p>{{quizName1}}</p> -->

